<% form_for @comment do |f| %>
  <%= error_messages_for :comment, :header_message => "Erreur, impossible de créer le commentaires !", :message => "Les champs du formulaire suivants contiennent des erreurs :" %>
  <noscript><p>Javascript required to add comment.</p></noscript>
  <div>
    <%= f.hidden_field :episode_id %>
    <%= enkode hidden_field_tag(:not_spam, true) %>
  </div>
  <p>
    <%= f.label :name, 'Nom', :class => 'required' %> <span class="info">(obligatoire)</span><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %> <span class="info">(pas affiché)</span><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :site_url, 'Site internet URL' %><br />
    <%= f.text_field :site_url %>
  </p>
  <p>
    <%= f.label :content, 'Commentaire', :class => 'required' %>
    <span class="info">
      (utilisez <a href="http://pastie.org" target="_blank">pastie</a>
      ou <a href="http://gist.github.com" target="_blank">gist</a> pour du code)
    </span><br />
    <%= f.text_area :content, :rows => '12', :cols => 35 %>
  </p>
  <p>
    <%= f.submit "Aperçu", :name => 'preview_button' %>
    <%= f.submit "Envoyer" %>
  </p>
<% end %>
