<div class="section">
  <strong>navigation:</strong>
  <ul id="navigation">
    <li><%= link_to_unless_current "Episodes récents", root_path %></li>
    <li><%= link_to_unless_current "Tous les épisodes", archive_episodes_path %></li>
    <li><%= link_to_unless_current "A propos de Railscasts.fr", about_path %></li>
    <li><%= link_to_unless_current "Commentaires récent", comments_path %></li>
    <li><%= link_to_unless_current "fil RSS", feeds_path %></li>
  </ul>
</div>
