<% title "Screencasts Ruby on Rails gratuit ", false %>

<% form_tag episodes_path, :method => 'get' do %>
  <p class="content">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Recherche", :name => nil %>
  </p>
<% end %>

<% if @episodes.empty? %>
  <p class="content">Aucun épisodes trouvés. <%= link_to "Voir tous les épisodes.", episodes_path %></p>
<% else %>
  <div class="episodes">
    <%= render :partial => @episodes %>
  </div>
<% end %>

<p class="content">
  <%= link_to h('< Page Précédente'), :overwrite_params => { :page => @episodes.previous_page } if @episodes.previous_page %>
  <%= "|" if @episodes.previous_page && @episodes.next_page %>
  <%= link_to h('Page Suivante >'), :overwrite_params => { :page => @episodes.next_page } if @episodes.next_page %>
</p>

<% if admin? %>
<h1 class="content">Future Episodes</h1>
<div class="episodes">
  <%= render :partial => Episode.unpublished %>
</div>

<div class="content">
  <div class="actions">
    <p><%= link_to 'New Episode', new_episode_path %></p>
  </div>
</div>
<% end %>
