<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Railscasts.fr - <%= h(yield(:title) || "Screencasts Ruby on Rails gratuits") %></title>
  	<meta name="description" content="Screencasts gratuit sur le framework web Ruby on Rails." />
    <meta name="keywords" content="rails, ruby on rails, screencasts, railscast, railscasts, tips, tricks, tutorials, training, podcasts, programming, astuces, aide" />
    <link rel="alternate" type="application/rss+xml" title="Episodes RSS" href="http://www.railscasts.fr/episodes.rss" />
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'coderay' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="topbar">
        <%= link_to_unless_current "A propos", about_path %> <span>|</span> 
        <%= link_to_unless_current "Episodes récents", root_path %> <span>| </span>
        <%= link_to_unless_current "Tous les épisodes", archive_episodes_path %> <span>|</span> 
        <%= link_to_unless_current "Commentaires récent", comments_path %>
        
      </div>
      <div id="logo"><%= link_to_unless_current image_tag('logo.png', :size => '411x85', :alt => 'Railscasts'), root_path %></div>
      <ul id="feeds">
        <li id="rss-feed"><%= link_to "RSS", formatted_episodes_url(:rss)%></li>
        <li id="itunes-feed"><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=299047040" title="Railscasts.fr sur Itunes">Itunes</a></li>
      </ul>
      <div id="main">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%- if show_title? -%>
          <h1 class="content"><%=h yield(:title) %></h1>
        <%- end -%>
        
        <%= yield %>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <%= render :partial => 'shared/footer' %>
      </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-66695-6");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
